{
  "presets": [ // Babel 预设
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.38.0"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}